{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			
			<div class="card">
				<div class="card-header">
					
					<ul class="nav nav-tabs card-header-tabs" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#{{ user_current.account }}-tab" role="tab">{{ user_current.account.first_name }}</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#{{ user_partner.account }}-tab" role="tab">{{ user_partner.account.first_name }}</a>
					  </li>	
					  <li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#results-tab" role="tab">Results</a>
					  </li>					  
					</ul>
				</div>				
				<div class="card-block">
					<div class="tab-content">
						<div class="tab-pane fade show active text-center" id="{{ user_current.account }}-tab" role="tabpanel">							
							<h6>{{ user_current }} has suggested {{ stat_user_current_suggestions.total }} names.</h6>
							<div class="row">
								<div class="col-12 col-md-12 col-lg-6">
									<canvas id="chart-{{ user_current.account }}-gender"></canvas>
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<canvas id="chart-{{ user_current.account }}-choices"></canvas>
								</div>
							</div>
						</div>
						<div class="tab-pane fade text-center" id="{{ user_partner.account }}-tab" role="tabpanel">							
							<h6>{{ user_partner }} has suggested {{ stat_user_partner_suggestions.total }} names.</h6>
							<div class="row">
								<div class="col-12 col-md-12 col-lg-6">
									<canvas id="chart-{{ user_partner.account }}-gender"></canvas>
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<canvas id="chart-{{ user_partner.account }}-choices"></canvas>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="results-tab" role="tabpanel">
							<div class="row">
								<div class="col-12 col-md-12 col-lg-12">
									<div id="accordion" role="tablist" aria-multiselectable="true">
									  <div class="card">
										<div class="card-header" role="tab" id="headingYesYes">
										  <h5 class="mb-0">
											<a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseYesYes" aria-expanded="true" aria-controls="collapseYesYes">
											  <span class="badge badge-pill {% if matches_count.matches_yesyes > 0 %}badge-success{% else %}badge-default{% endif %}">{{ matches_count.matches_yesyes }}</span>  Perfect Yes matches!
											</a>
										  </h5>
										</div>
										<div id="collapseYesYes" class="collapse" role="tabpanel" aria-labelledby="headingYesYes">
										  <div class="card-block">
										    {% for match in matches.matches_yesyes %}
											<h6>Match for a <strong>{{ match.get_gender_display }}</strong>!</h6>
											{% endfor %}
										  </div>
										</div>
									  </div>
									  <div class="card">
										<div class="card-header" role="tab" id="headingYesMaybe">
										  <h5 class="mb-0">
											<a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseYesMaybe" aria-expanded="false" aria-controls="collapseYesMaybe">
											  <span class="badge badge-pill {% if matches_count.matches_yesmaybe > 0 %}badge-info{% else %}badge-default{% endif %}">{{ matches_count.matches_yesmaybe }}</span>  You say Yes, {{ user_partner.account.first_name }} says Maybe
											</a>
										  </h5>
										</div>
										<div id="collapseYesMaybe" class="collapse" role="tabpanel" aria-labelledby="headingYesMaybe">
										  <div class="card-block">
										    {% for match in matches.matches_yesmaybe %}
											<h6>Match for a <strong>{{ match.get_gender_display }}</strong>!</h6>
											{% endfor %}
										  </div>
										</div>
									  </div>
									  <div class="card">
										<div class="card-header" role="tab" id="headingMaybeYes">
										  <h5 class="mb-0">
											<a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMaybeYes" aria-expanded="false" aria-controls="collapseMaybeYes">
											  <span class="badge badge-pill {% if matches_count.matches_maybeyes > 0 %}badge-info{% else %}badge-default{% endif %}">{{ matches_count.matches_maybeyes }}</span>  {{ user_partner.account.first_name }} says Maybe, you say Yes
											</a>
										  </h5>
										</div>
										<div id="collapseMaybeYes" class="collapse" role="tabpanel" aria-labelledby="headingMaybeYes">
										  <div class="card-block">
										    {% for match in matches.matches_maybeyes %}
											<h6>Match for a <strong>{{ match.get_gender_display }}</strong>!</h6>
											{% endfor %}
										  </div>
										</div>
									  </div>
									  <div class="card">
										<div class="card-header" role="tab" id="headingMaybeMaybe">
										  <h5 class="mb-0">
											<a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMaybeMaybe" aria-expanded="false" aria-controls="collapseMaybeMaybe">
											  <span class="badge badge-pill {% if matches_count.matches_maybemaybe > 0 %}badge-warning{% else %}badge-default{% endif %}">{{ matches_count.matches_maybemaybe }}</span>  Both say Maybe
											</a>
										  </h5>
										</div>
										<div id="collapseMaybeMaybe" class="collapse" role="tabpanel" aria-labelledby="headingMaybeMaybe">
										  <div class="card-block">
										    {% for match in matches.matches_maybemaybe %}
											<h6>Match for a <strong>{{ match.get_gender_display }}</strong>!</h6>
											{% endfor %}
										  </div>
										</div>
									  </div>
									  <div class="card">
										<div class="card-header" role="tab" id="headingNoNo">
										  <h5 class="mb-0">
											<a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNoNo" aria-expanded="false" aria-controls="collapseNoNo">
											  <span class="badge badge-pill {% if matches_count.matches_nono > 0 %}badge-danger{% else %}badge-default{% endif %}">{{ matches_count.matches_nono }}</span>  Agreed awful names
											</a>
										  </h5>
										</div>
										<div id="collapseNoNo" class="collapse" role="tabpanel" aria-labelledby="headingNoNo">
										  <div class="card-block">
											{% for match in matches.matches_nono %}
											<h6><strong>{{ match.name }}</strong> for a <strong>{{ match.get_gender_display }}</strong></h6>
											{% endfor %}
										  </div>
										</div>
									  </div>
									</div>
								</div>
							</div>
							<div class="row">
							<hr/>
							</div>
							<div class="row">
							  <div class="col-12 col-md-12 col-lg-12">
							    <p>There {% if matches_count.matches_yesno|add:matches_count.matches_maybeno == 0  %}is no suggestion {% else %}{{ matches_count.matches_yesno|add:matches_count.matches_maybeno|pluralize:"is,are" }} <span class="badge badge-info">{{ matches_count.matches_yesno|add:matches_count.matches_maybeno }}</span> suggestion{{ matches_count.matches_yesno|add:matches_count.matches_maybeno|pluralize }} {% endif %}that you have selected Yes or Maybe for, while {{ user_partner.account.first_name }} has selected No.</p>
								<p>There {% if matches_count.matches_noyes|add:matches_count.matches_nomaybe == 0  %}is no suggestion {% else %}{{ matches_count.matches_noyes|add:matches_count.matches_nomaybe|pluralize:"is,are" }} <span class="badge badge-info">{{ matches_count.matches_noyes|add:matches_count.matches_nomaybe }}</span> suggestion{{ matches_count.matches_noyes|add:matches_count.matches_nomaybe|pluralize }} {% endif %}that you have selected No for, while {{ user_partner.account.first_name }} has selected Yes or Maybe.</p>
								<p>Finally, there {% if matches_count.matches_nomatch == 0  %}is no suggestion {% else %}{{ matches_count.matches_nomatch|pluralize:"is,are" }} <span class="badge badge-info">{{ matches_count.matches_nomatch }}</span> suggestion{{ matches_count.matches_nomatch|pluralize }} {% endif %}that you have entered, but {{ user_partner.account.first_name }} has not thought of yet.</p>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<h3>{{ user_current_selection_group }}</h3>
					<h5>{{ stat_suggestions_total }} total suggestions</h5>
				</div>				
			</div>	

			<div id="msg-box" style="display: none;">
			</div>
			
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script>
	var ctx_{{ user_current.account }}_gender = document.getElementById("chart-{{ user_current.account }}-gender");
	
	var data_{{ user_current.account }}_gender = {
		labels: [
			"Girl",
			"Boy",
		],
		datasets: [
			{
				data: [{{ stat_user_current_suggestions.girl }}, {{ stat_user_current_suggestions.boy }}],
				backgroundColor: [
					"rgba(255, 97, 131, 0.6)",
					"rgba(54, 162, 235, 0.6)"
				],
				hoverBackgroundColor: [
					"rgba(255, 97, 131, 0.6)",
					"rgba(54, 162, 235, 0.6)"
				]
			}]
	};
	
	var chart_{{ user_current.account }}_Gender = new Chart(ctx_{{ user_current.account }}_gender,{
		type: 'pie',
		data: data_{{ user_current.account }}_gender,
		options: {
			animation:{
				animateScale:true
			}
		}
	});
	
	
	
	var ctx_{{ user_current.account }}_choices = document.getElementById("chart-{{ user_current.account }}-choices");
	
	var data_{{ user_current.account }}_choices = {
		labels: [
			"Yes",
			"Maybe",
			"No",
		],
		datasets: [
			{
				data: [{{ stat_user_current_suggestions.yes }}, {{ stat_user_current_suggestions.maybe }}, {{ stat_user_current_suggestions.no }}],
				backgroundColor: [
					'rgba(88, 214, 141, 0.6)',
					'rgba(247, 220, 111, 0.6)',
					'rgba(231, 76, 60, 0.6)',
				],
				hoverBackgroundColor: [
					'rgba(88, 214, 141, 0.6)',
					'rgba(247, 220, 111, 0.6)',
					'rgba(231, 76, 60, 0.6)',
				]
			}]
	};
	
	var chart_{{ user_current.account }}_Choices = new Chart(ctx_{{ user_current.account }}_choices,{
		type: 'pie',
		data: data_{{ user_current.account }}_choices,
		options: {
			animation:{
				animateScale:true
			}
		}
	});
	
	
	
	
	var ctx_{{ user_partner.account }}_gender = document.getElementById("chart-{{ user_partner.account }}-gender");
	
	var data_{{ user_partner.account }}_gender = {
		labels: [
			"Girl",
			"Boy",
		],
		datasets: [
			{
				data: [{{ stat_user_partner_suggestions.girl }}, {{ stat_user_partner_suggestions.boy }}],
				backgroundColor: [
					"rgba(255, 97, 131, 0.6)",
					"rgba(54, 162, 235, 0.6)"
				],
				hoverBackgroundColor: [
					"rgba(255, 97, 131, 0.6)",
					"rgba(54, 162, 235, 0.6)"
				]
			}]
	};
	
	var chart_{{ user_partner.account }}_Gender = new Chart(ctx_{{ user_partner.account }}_gender,{
		type: 'pie',
		data: data_{{ user_partner.account }}_gender,
		options: {
			animation:{
				animateScale:true
			}
		}
	});
	
	
	
	var ctx_{{ user_partner.account }}_choices = document.getElementById("chart-{{ user_partner.account }}-choices");
	
	var data_{{ user_partner.account }}_choices = {
		labels: [
			"Yes",
			"Maybe",
			"No",
		],
		datasets: [
			{
				data: [{{ stat_user_partner_suggestions.yes }}, {{ stat_user_partner_suggestions.maybe }}, {{ stat_user_partner_suggestions.no }}],
				backgroundColor: [
					'rgba(88, 214, 141, 0.6)',
					'rgba(247, 220, 111, 0.6)',
					'rgba(231, 76, 60, 0.6)',
				],
				hoverBackgroundColor: [
					'rgba(88, 214, 141, 0.6)',
					'rgba(247, 220, 111, 0.6)',
					'rgba(231, 76, 60, 0.6)',
				]
			}]
	};
	
	var chart_{{ user_partner.account }}_Choices = new Chart(ctx_{{ user_partner.account }}_choices,{
		type: 'pie',
		data: data_{{ user_partner.account }}_choices,
		options: {
			animation:{
				animateScale:true
			}
		}
	});
</script>
<script src="{% static 'js/custom-analytics.js' %}"></script>
{% endblock %}